.flowplayer .fp-captions{
	font-family:Arial,Tahoma,'myriad pro',Helvetica,sans-serif;
}

.fp-captions p {
	display:inline;
	font-weight:bold;
	color: white;
	padding: .1em .4em;
	font-size: 1.5em !important;
	line-height:1.0;
	background: none !important;

	text-shadow: 1px 1px 0 #004152,
		-1px 1px 0 #004152,
		1px -1px 0 #004152,
		-1px -1px 0 #004152,
		0px 1px 0 #004152,
		0px -1px 0 #004152,
		-1px 0px 0 #004152,
		1px 0px 0 #004152,
		2px 2px 0 #004152,
		-2px 2px 0 #004152,
		2px -2px 0 #004152,
		-2px -2px 0 #004152,
		0px 2px 0 #004152,
		0px -2px 0 #004152,
		-2px 0px 0 #004152,
		2px 0px 0 #004152,
		1px 2px 0 #004152,
		-1px 2px 0 #004152,
		1px -2px 0 #004152,
		-1px -2px 0 #004152,
		2px 1px 0 #004152,
		-2px 1px 0 #004152,
		2px -1px 0 #004152,
		-2px -1px 0 #004152;
}

.is-fullscreen .fp-captions {
	bottom:40px;
}

@media screen and (min-width: 1400px) {
	.is-fullscreen .fp-captions {
		bottom:40px;
	}
	
	.is-fullscreen .fp-captions p {
		font-size: 4.5em !important;
	}
}

.flowplayer .fp-captions p:after{content:'';clear:both}
.flowplayer .fp-captions p b{font-weight:bold}
.flowplayer .fp-captions p i{font-style:italic}
.flowplayer .fp-captions p u{text-decoration:underline}
.flowplayer .fp-captions.fp-active{left:0;opacity:1;}


.fp-dropup li {
	font-size: 12px !important;
	font-family:Arial,Tahoma,'myriad pro',Helvetica,sans-serif;
}


.drop-area-hover {
	border: 2px red solid;
}


.flowplayer .fp-dropdown li {
	padding: 5px !important;
}